%section.panel
  %header.panel-heading
    Questions
  .panel-body
    .adv-table.editable-table
      .clearfix
        .btn-group
          = link_to 'Add New', new_question_path, remote: true, :class => "btn btn-info"
        .btn-group.pull-right
          %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
            Tools
            %i.fa.fa-angle-down
          %ul.dropdown-menu.pull-right
            %li
              %a{:href => "#"} Print
            %li
              %a{:href => "#"} Save as PDF
            %li
              %a{:href => "#"} Export to Excel
      .space15
      .row
        .col-lg-6
        .col-lg-6
          #editable-sample_filter.dataTables_filter
            %label
              / Search:
              / %input.form-control.medium{"aria-controls" => "editable-sample", :type => "text"}/
      %table.table.table-striped.table-hover.table-bordered
        %thead
          %tr
            %th Question
            %th Type
            %th Answer
            %th Edit
            %th Delete
        %tbody#table-body
          = render partial: 'question_list', locals:{questions: @questions}
      = paginate @questions

#QuestionModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}