%aside
  #sidebar.nav-collapse
    %ul#nav-accordion.sidebar-menu
      %li
        %a.active{:href => root_path}
          %i.fa.fa-dashboard
          %span Dashboard
        %a{:href => root_path}
          %i.fa.fa-dashboard
          %span Customers
        %a{:href => questions_path}
          %i.fa.fa-dashboard
          %span Questions
        %a{:href => root_path}
          %i.fa.fa-dashboard
          %span Questionnairs
        %a{:href => root_path}
          %i.fa.fa-dashboard
          %span Devises