%aside
  #sidebar.nav-collapse
    %ul#nav-accordion.sidebar-menu
      %li
        %a{class: operator_sub_nav('home'), href: root_path}
          %i.fa.fa-dashboard
          %span Dashboard
        %a{class: operator_sub_nav(''), :href => "javascript:void(0);"}
          %i.fa.fa-dashboard
          %span Customers
        %a{class: operator_sub_nav('questions'), :href => questions_path}
          %i.fa.fa-dashboard
          %span Questions
        %a{class: operator_sub_nav('questionnaires'), :href => questionnaires_path}
          %i.fa.fa-dashboard
          %span Questionnairs
        %a{class: operator_sub_nav('feed_devises'), :href => feed_devises_path}
          %i.fa.fa-dashboard
          %span Devises