%td= questionnaire.name
%td= questionnaire.desc
%td
  = link_to 'Edit', edit_questionnaire_path(id: questionnaire.id), remote: true
%td
  = link_to 'Add Questions', questionnaire_path(id: questionnaire.id)