$('.form_error').remove();
<%- if @questionnaire.errors.blank? %>
  $('#qFormRow').after("<%= escape_javascript(render partial: 'questionnaire_list', locals: {questionnaires: @questionnaire.to_a}) %>");
  $('#newQuestion')[0].reset();
  $('#qFormCancel').click();
<%- else %>
  <% for field in @questionnaire.errors.keys() %>
    $("#questionnaire_<%= field %>").after('<%= escape_javascript("<span class='form_error'>#{@questionnaire.errors[field].first}</span>").html_safe %>');
  <% end %>
<%- end %>