%section.panel
  %header.panel-heading
    Questionnaires
  .panel-body
    .adv-table.editable-table
      .clearfix
        .btn-group
          %button#editable-question_new.btn.btn-info
            Add New
            %i.fa.fa-plus
      .space15
      .row
        .col-lg-6
        .col-lg-6
          #editable-sample_filter.dataTables_filter
            %label
              / Search:
              / %input.form-control.medium{"aria-controls" => "editable-sample", :type => "text"}/
      %table.table.table-striped.table-hover.table-bordered
        %thead
          %tr
            %th Name
            %th Description
            %th Display
            %th Edit
            %th Add Questions
        %tbody#table-body
          %tr#qFormRow
            = render partial: 'form', locals: {questionnaire: current_owner.questionnaires.new}
          - for questionnaire in @questionnaires
            %tr{id: "questionnaire#{questionnaire.id}"}
              = render partial: 'questionnaire_list', locals:{questionnaire: questionnaire}

      = paginate @questionnaires

:javascript
  jQuery(document).ready(function() {
    EditableTable.init();
  });

  $(document).on('click', '.saveQuestionnaire', function(){
    form_url = $(this).parents().siblings('form').attr('action');
    form_inputs = $(this).parents('tr').find('td').find('input[type="text"], textarea');
    form_method = $(this).parents('tr').find('input[name="_method"]').val();
    data = {};
    form_inputs.each(function( input ) {
      data[$(this).attr('name')] = $(this).val();
    });
    data["questionnaire[display]"] = $(this).parents('tr').find('td').find('input[type="checkbox"]').is(":checked")
    jQuery.ajax({
        url: form_url,
        type : "Patch",
        data: data,
        dataType: 'script',
        success: function(data){
          //jQuery("div#selectBillingState").html(data);
        },
      });

  })