%section.panel
  %header.panel-heading
    Add Questions
  .panel-body
    .adv-table.editable-table
      = form_for @questionnaire do |f|
        %table.table.table-striped.table-hover.table-bordered
          %thead
            %tr
              %th Questions
              %th 
          %tbody#table-body
            - for question in current_owner.questions
              %tr
                %td= question.qText
                %td= check_box_tag "questionnaire[questions][]", question.id, (@questionnaire.questions.present? and @questionnaire.questions.include?(question.id.to_s))

        = f.submit


/ page end

:javascript
  jQuery(document).ready(function() {
    EditableTable.init();
  });